# Ignore folders and files
fdciabdul/
node_modules/
tes.js
config.js
ublock
succesCommenting.log
errorCommenting.log
package-lock.json
bin/
tmp/
.env
database.sqlite
bun.lockb
bin.zip
.github

# Ignore everything inside driver except __init__
/driver/*
!/driver/__init__

# Ignore everything inside session except __init__
/session/*
!/session/__init__
